<h3>Comments</h3>
<% @post.comments.each do |comment| %>
  <div class="card bg-light p-3">
  <p>
    <strong><%= comment.username %></strong>: <%= comment.body %>
    <% if @admin_perm %>
      <%= link_to "[X]", [comment.post, comment], method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </p>
  </div>
<% end %>