<h3>Add Comment</h3>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :username %> <br>
    <%= f.text_field(:username, {:class => "form-control"}) %>
  </p>
  <p>
    <%= f.label :username %> <br>
    <%= f.text_area(:body, {:class => "form-control"}) %>
  </p>
  <p>
    <%= f.submit({:class => "btn btn-secondary"}) %>
  </p>
<% end %>