<h1>Blog post</h1>
<%= @posts.each do |post| %>
  <div class="card bg-light p-3">
    <h3><%= post.title %></h3>
    <p><%= post.body %></p>
    <%= link_to "Read More", post_path(post), :class => "btn btn-secondary" %>
  </div>
<% end %>