<h2><%= @post.title %></h2>
<p> <%=	@post.body %></p>
<% if @admin_perm %>
<hr>
  <%= link_to "Edit", edit_post_path(@post), :class => "btn btn-secondary" %>
  <%= link_to "Delete", post_path(@post), :class => "btn btn-danger", method: :delete, data:{confirm: "Are you sure?"} %>
<% end %>
<hr>
<%= render "comments/comments" %>
<br><br>
<%= render "comments/form" %>

