<!DOCTYPE html>
<html>
<head>
  <title>SimpleBlog</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">>SimpleBlog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
              <li><%= link_to "Home", home_path %></li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <% if @admin_perm %>
                <%= link_to "Create Post", new_post_path %>
              <% else %>
                <%= link_to "Admin Login", new_post_path %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
